<nav class="bg-[#313338] h-16 w-full flex border-b border-[#1F2023] shadow-md pl-2">
  <div class="flex items-center gap-6 w-full h-full">
    <div class="flex items-center gap-3 px-2">
      <lucide-icon [img]="ContactRound" class="w-6 h-6 text-gray-400" />
      <div class="text-white font-bold text-base">Friends</div>
    </div>
    <div class="w-px h-8 bg-[#3F4147]"></div>
    <div class="flex justify-center gap-2">
      <a
        [routerLink]="['active']"
        routerLinkActive="bg-[#3F4147] text-white"
        class="p-2 hover:bg-[#35373C] text-gray-300 hover:text-gray-100 rounded text-sm font-medium"
      >
        Active
      </a>
      <a
        [routerLink]="['all']"
        routerLinkActive="bg-[#3F4147] text-white"
        class="p-2 hover:bg-[#35373C] text-gray-300 hover:text-gray-100 rounded text-sm font-medium"
      >
        All
      </a>

      <a
        [routerLink]="['add-friend']"
        class="p-2 bg-[#248046] hover:bg-[#1A6334] text-white rounded text-sm font-bold ml-2"
      >
        Add Friend
      </a>
    </div>
  </div>
</nav>
