 <nav
      class="bg-[#313338] h-12 w-full flex items-center justify-between border-b border-[#1F2023] shadow-md pl-4 pr-4"
    >
      <div class="flex items-center gap-6 w-full h-full">
        <div class="flex items-center gap-3 px-2">
          <lucide-icon [img]="ContactRound" class="w-6 h-6 text-gray-400" />
          <div class="text-white font-bold text-base">Friends</div>
        </div>
        <div class="w-px h-6 bg-[#3F4147] mx-2"></div>
        <div class="flex flex-1 justify-between h-full items-center">
          <div class="flex items-center gap-2">
            <a
              routerLink="active"
              routerLinkActive="bg-[#3F4147] text-white"
              class="px-3 py-1 hover:bg-[#35373C] text-gray-300 hover:text-gray-100 rounded transition-colors text-sm font-medium"
            >
              Online
            </a>
            <a
              [routerLink]="['active']"
              routerLinkActive="bg-[#3F4147] text-white"
              class="px-3 py-1 hover:bg-[#35373C] text-gray-300 hover:text-gray-100 rounded transition-colors text-sm font-medium"
            >
              Active
            </a>
            <a
              [routerLink]="['all']"
              routerLinkActive="bg-[#3F4147] text-white"
              class="px-3 py-1 hover:bg-[#35373C] text-gray-300 hover:text-gray-100 rounded transition-colors text-sm font-medium"
            >
              All
            </a>

            <a
              [routerLink]="['add-friend']"
              class="px-3 py-1 bg-[#248046] hover:bg-[#1A6334] text-white rounded transition-colors text-sm font-bold ml-2 shadow-sm"
            >
              Add Friend
            </a>
          </div>
        </div>
      </div>
    </nav>