<nav
  class="bg-[#313338] h-16 w-full flex items-center justify-between border-b border-[#1F2023] shadow-md px-4"
>
  <div class="flex items-center gap-2">
    <div>
      <app-profile-image [src]="chattedWithUser()?.img" />
    </div>
    <div class="text-white font-bold">
      {{ chattedWithUser()?.username }}
    </div>
  </div>
  <div
    class="bg-[#1E1F22] rounded flex items-center px-2 py-0.5 transition-all focus-within:w-64 w-36"
  >
    <input
      type="text"
      [placeholder]="'Search ' + (chattedWithUser()?.username || '')"
      class="truncate outline-none text-gray-200 text-sm h-8 w-full placeholder-gray-400"
    />
    <lucide-icon [img]="Search" class="w-4 h-4 text-gray-400" />
  </div>
</nav>
